/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
   position: fixed;
   margin: auto;
   margin-left: 5%;
   display: flex;
   justify-content: space-between;

   /*width: 1000px;*/
 }

 .transparent {
   display: none;
 }

 body {
   font: inherit;
   padding: 0;
   background: #fff;

   margin: auto;
 }

 .sub-content {
   font: inherit;
   padding: 0;
   background: #fff;
   width: 1000px;
   margin: auto;
   /*margin-left: 15%*/
 }

 .page-line {
   width: 100%;
   padding-bottom: 15px;
   border-bottom: 1px solid black;
 }
