
 .auth-forms {
   display: block;
   background-color: lightgrey;
   border: 1px solid black;
   float: left;
   padding: 5px;
   width: 200px;
   margin-top: 5px;
 }

 .auth-button {
    display: block;
    overflow: hidden;
    outline: none;
    background: #e6e6e6;
    color: #4a4a4a;
    border: 1px solid #000000;
    font-size: 14px;
    font-family: Charcoal;
    padding: 5px 12px;
    box-shadow: 0px 2px 3px 0px #969696;
    margin-top: 2px;
}

.auth-button:hover {
    background: #d9d9d9;
}

.auth-button:active {
    background: #f7f7f7;
    box-shadow: 0px 0px 0px 0px;
}

.auth-modal-text {
  padding: 5px
  display: flex;
  justify-content: flex-end;
}

.auth-modal-text h1 {
  font-family: 'Amatic SC', cursive;
  color: #161616;
}

.auth-modal p {
  font-family: 'Open Sans', sans-serif;
}
