
.auth-modal {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.auth-forms {
   position: relative;
   top: 25px;
 }

 .auth-modal-login-form {
   position: relative;
   top: 75px;
 }

.auth-button {
    display: block;
    overflow: hidden;
    outline: none;
    background: #e6e6e6;
    color: #4a4a4a;
    border: 1px solid #000000;
    font-size: 14px;
    font-family: Charcoal;
    padding: 5px 12px;
    box-shadow: 0px 2px 3px 0px #969696;
    margin-top: 2px;
}

.auth-button:hover {
    background: #d9d9d9;
}

.auth-button:active {
    background: #f7f7f7;
    box-shadow: 0px 0px 0px 0px;
}

.auth-modal-text {
  padding: 5px;
  width: 450px;
  position: relative;
  top: 7px;
}

.auth-modal-text-login {
  padding: 5px;
  width: 450px;
  position: relative;
  top: 30px;
}

.auth-modal-text h1 {
  font-family: 'Amatic SC', cursive;
  color: #161616;
  display: inline;
  position: relative;
  top: 10px;
}

.auth-modal-text h1 img {
  position: relative;
  top: 10px;
}

.auth-modal-text img.camera-logo {
  position: relative;
  top: 5px;
}

.auth-modal p {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.auth-modal p a {
  color: #8E49E8;
  cursor: pointer;
}

.auth-modal p a:hover {
  color: #A678E2;
  cursor: pointer;
}

.auth-modal p a li {
  list-style: none;
}

/*NEW FORMS*/

/* Form */

.field {
  position: relative;
  margin-bottom: 2em;
  font-size: 12px;

}
.label {
  color: #edede8;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
  transition: all .2s ease-in;
}

.input:focus {
  outline: 0;
  border-color: #ccc;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: grey;
}

/* Button */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #8E49E8;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:active {
  background: #A678E2;
}

/*Demo Button*/
.btn-demo {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: #8E49E8;
  background: #ffffff;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  border: 1px solid #8E49E8;
  transition: background .2s;
}
.btn-demo:focus {
  outline: 0;
}
.btn-demo:hover,
.btn-demo:active {
  background: #A678E2;
  color: white;
}


/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
