.photo-comment {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4em;
  border-bottom: 1px solid lightgrey;
  display: block;
}

.photo-comment-container {
  overflow: auto;
  padding-top: 5px;
}

.photo-comment .comment-username {
  font-size: 14px;
  font-weight: 800;
  color: #413839;
  float: left;
  font-weight: 600;
}

.comment-body {
  font-weight: 200;
  float: left;
}

.comment-time {
  color: lightgrey;
  float: right;
}

.clearfix{
    clear:both
}

.like-comment-container {
  color: grey;
  overflow: auto;
  padding-top: 1px;
  padding-bottom: 1px;
}

.photo-liker {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  display: block;
  float: left;
}

.photo-liker .liked-by {
  color: lightgrey;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  display: block;
  float: left;
}

.like-time {
  font-size: 0.8em;
  color: lightgrey;
  float: right;
}
