.photo-comment {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4em;
  border-bottom: 1px solid lightgrey;
  display: block;
}

.photo-comment-container {
  overflow:auto;
}

.photo-comment .comment-username {
  font-size: 14px;
  font-weight: 800;
  color: #413839;
  float: left;
}

.comment-body {
  float: left;
}

.comment-time {
  color: lightgrey;
  float: right;
}

.clearfix{
    clear:both
}
