.photo-flow-container {
  margin: auto;
  width: 1000px;

  background-color: white;
  /*z-index: 100;*/

  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 32px;
  color: #161616;
  padding: 0;
}

.flow-gallery-container {

}

.flow-gallery {
  margin: 10px 0px 5px 0px;
}

ul .flow-gallery {
  margin: auto;
}

.photo-item {
  position: relative;
}

.photo-item:hover ~ .like-heart:before {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: white;
  opacity: 0.5;
}

.like-heart {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: white;
  opacity: 0.1;

  text-transform: uppercase;
  text-decoration: none;
  transform : scale(1,0.8);
  -webkit-transform:scale(1,0.8); /* Safari and Chrome */
  -moz-transform:scale(1,0.8); /* Firefox */
  -ms-transform:scale(1,0.8); /* IE 9+ */
  -o-transform:scale(1,0.8); /* Opera */
}

.like-count {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  font-size: 0.5em;
  color: white;
}

.like-heart:hover {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: #ffe9ec;
  opacity: 0.8;
  cursor: pointer;
}

.like-heart:active {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: #ffcbd3;
  opacity: 1.0;
  cursor: pointer;
}
