.photo-flow-container {
  margin: auto;
  width: 1000px;

  background-color: white;
  /*z-index: 100;*/

  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 32px;
  color: #161616;
  padding: 0;
}

.flow-gallery-container {

}

.flow-gallery {
  margin: 10px 0px 5px 0px;
}

ul .flow-gallery {
  margin: auto;
}

.photo-item {
  position: relative;
}

.photo-item:hover ~ .like-heart {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: white;
  opacity: 0.7;
}

.like-heart {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: white;
  opacity: 0.1;
}

.like-heart:hover {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  color: pink;
  opacity: 1.0;
}
