footer {
  background-color: #edede8;
  width: 1000px;
  height: 150px;
  font-size: 13px;
  color: grey;
  margin: auto;
  padding-top: 2px;
  display: flex;
  align-items: flex-end;
}

.footer-container {
  padding: 8px;
  display: flex;
  align-items: flex-start;
}

.footer-container p {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.footer-container p a {
  color: #8E49E8;
  padding-left: 5px;
}
