footer {
  background-color: #edede8;
  width: 1000px;
  height: 150px;
  font-size: .9em;
  margin: auto;
}

.footer-container {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  /*border-top: 1px solid black;*/
}

.footer-container p {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
