footer {
  position: absolute;
  background-color: #edede8;
  width: 1000px;
  height: 150px;
  margin-top: 5px;
  font-size: .9em;
}

.footer-container {
  padding: 5px;
  display: flex;
  align-items: flex-start;
}

.footer-container p {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
