/*Past Header Concept*/
.top-placeholder {
  height: 50px;
  position: absolute;
}

.header {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 20px;
  color: #161616;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  padding: 15px 0px;

  background-color: transparent;
  position: relative;

  /*background-color: white;*/
  /*border-bottom: 1px solid black;*/
}

.nav ul {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  margin: 0;
}

.nav ul li {
  vertical-align: bottom;
  padding: 0px 10px;
}

.nav ul li:hover {
  background-color: #3D3C3A;
  color: #ffffff;
  cursor: pointer;
  transition: .1s background-color;
}

.nav ul a li {
  color: #161616;
}

.user-greeting {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.5em;
}

.logo {
  /* in case returned to text rather than image
  /*font-size: 36px;*/
  /*background-color: #3D3C3A;*/
  /*color: #161616;*/
  /*width: 142px;*/
  float: left;
  margin-top: 3px;
  margin-left: 4px;
}

.logo img {
  height: 45px;
  margin-bottom: -5px;
}

.logo:hover {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*logo swing*/
 @-webkit-keyframes swing
{
    20%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    40%
    {
        -webkit-transform: translateX(-2px);
       transform: translateX(-2px);
    }
    60%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    20%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    40%
    {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    60%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    80%
    {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
