/**, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #3D464D;
}*/

@keyframes pulsate {
  0% { transform: scale(1.1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1.1); }
}

.heart-like {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4.5em -5em;
  width: 10em;
  height: 9em;
  animation: pulsate 1s ease infinite;

  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    background-color: #B94A48;
    width: 5em;
    height: 8em;
    top: 0.65em;
    left: 5em;
    border-radius: 5em 5em 0 1em;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &:after{
    left: 0em;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-radius: 5em 5em 1em 0;
  }
}
