.show-photo-container {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 32px;
  color: #161616;

  width: 1000px;
  margin: auto;
  /*min-height: 800px;*/

  position: relative;
}

.photo-container {
  padding: 15px 0px 5px 0px;
  border-bottom: 1px solid lightgrey;
}

.photo-container img {
  /*width: 100%;*/
  max-width: 1000px;
}

.big-photo {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.photo-bottom-padding {
  height: 30px;
  background-color: #edede8;
  font-size: 0.4em;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.photo-bottom-padding-type {
  font-family: 'Open Sans', sans-serif;
  padding: 0px 5px;
  color: grey;
}

.bad-load {
  color: lightgrey;
}
