/*Bigger version*/
.splash-image {
  max-height: 600px;
  overflow: hidden;
  margin: -12px;
  height: auto;
}

/*Smaller version*/
/*.splash-image {
  padding: 4px 0px 0px 0px;
  border-bottom: 1px solid black;
  width: 1000px;
}*/

/*Bigger version*/
.splash-image img {
  margin: 0;

  height: 100%;
  width: 100%;
  min-height: 900px;

  position: relative;
  top: -180px;
  z-index: -111;
}

.splash-content {
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  font-size: 28px;
  background-color: #f1f1f1;
  padding: 30px 0px;
  margin-top: 5px;
  width: 100%;
}

.splash-content-about {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border-bottom: 1px solid black;
  padding: 2px;
}

.splash-content-about-large {
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  font-size: 48px;
}

.splash-content-how {
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  font-size: 52px;
  border-bottom: 1px solid black;
  position: relative;
}

.splash-content-how img {
  margin-bottom: 0px;
  width: 1000px;
  position: relative;
}

.inside-image {
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 0px;
  display: flex;
}

.splash-content ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0;
}

.splash-content ul li {
  color: #161616;
  font-size: 1.4em;
  padding: 0px;
  align-items: flex-end;
  justify-content: space-around;
}

.splash-content ul li a {
  text-decoration: none;
  transition: 2s color;
  cursor: pointer;
}

.splash-content ul li a .cloud {
  font-size: .8em;
  color: darkgrey;
  padding: 0 2px;
  margin: 0;
  display: inline;
  align-items: flex-end;
}

.splash-content ul li a:hover ~ .upload-subtext {
  -webkit-animation: swing 1s ease-in-out;
  animation: swing 1s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.splash-content ul li .upload-subtext {
  color: grey;
}

.splash-content ul li .upload-subtext:hover {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.search-tags {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.search-tags li {
  display: flex;
  padding: 1px;
  margin: 2px;
}
