/* Container */
.start-button-container {
  width: 24em;
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

  position: absolute;
  left: 50%;
  margin-top: -5%;

  display: flex;
  align-items: center;
}

.start-button-container ul {
  list-style: none;
}

/*Start Button*/
.above-start-button {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  font-stretch: expanded;
  color: white;
  -webkit-text-stroke: 1px black;

  display: block;
  /*position: absolute;
  top:15px; right:0; bottom:0; left:40px;*/
}

.start-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;
  display: block;

  margin: 1em auto;

  /*position: absolute;
  top:0; right:0; bottom:0; left:0;*/

  padding: 10px 0;
  width: 160px;
  height:60px;

  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
  overflow: hidden;

  transition: all 0.5s;
}

.start-button-container ul li img {
  padding-left: 42%;
}

.start-button-words {
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
}

.start-button:hover, .start-button:active
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.start-button span
{
  font-family: "Nunito", sans-serif;
  font-size: 24px;

  display: inline-block;
  position: relative;
  padding-right: 0;

  transition: padding-right 0.5s;
}

.start-button span:after
{
  content: '♥';
  position: absolute;
  top: 0;
  right: -50px;
  margin-right: 10px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -18px;
  background: rgba(0, 0, 0, 0);
}

.start-button:hover span, .start-button:active span
{
  padding-right: 30px;
}

.start-button:hover span:after, .start-button:active span:after
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}
