<!DOCTYPE html>
<html>
<head>
  <title>Ziggurat</title>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="../../assets/javascripts/funFormJS.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
